In [7]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.random(size=1000).reshape(100, 10))

In [2]:
# most important
df.head()

,0,1,2,3,4,5,6,7,8,9
0,0.798388,0.458079,0.396261,0.102412,0.800699,0.499441,0.712896,0.589691,0.203954,0.060455
1,0.221457,0.625221,0.335834,0.506417,0.939337,0.439440,0.872654,0.144387,0.465404,0.811388
2,0.916330,0.088227,0.598860,0.551572,0.319917,0.589040,0.319078,0.984986,0.968949,0.648157
3,0.456322,0.502286,0.526763,0.742205,0.054031,0.154968,0.948349,0.067153,0.849978,0.885283
4,0.224782,0.897500,0.173595,0.932083,0.413511,0.836709,0.336331,0.151841,0.652184,0.879758

In [4]:
df.tail()

,0,1,2,3,4,5,6,7,8,9
95,0.128131,0.500776,0.281393,0.468143,0.669881,0.178412,0.196404,0.831832,0.418632,0.961219
96,0.637684,0.601288,0.943692,0.062014,0.393412,0.036156,0.646565,0.396468,0.958277,0.124388
97,0.451625,0.319914,0.296202,0.988720,0.674398,0.110197,0.932927,0.534587,0.804556,0.053655
98,0.467909,0.664482,0.720758,0.171689,0.320017,0.618657,0.107917,0.715618,0.969537,0.845524
99,0.159594,0.991729,0.177553,0.906591,0.195137,0.916374,0.037619,0.099450,0.338210,0.144495

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       100 non-null    float64
 1   1       100 non-null    float64
 2   2       100 non-null    float64
 3   3       100 non-null    float64
 4   4       100 non-null    float64
 5   5       100 non-null    float64
 6   6       100 non-null    float64
 7   7       100 non-null    float64
 8   8       100 non-null    float64
 9   9       100 non-null    float64
dtypes: float64(10)
memory usage: 7.9 KB

In [8]:
# size
df.shape

# (# rows, # columns)

(100, 10)

In [9]:
df = df.append({
    0: np.nan,
    1: 5,
    2: 4,
    3: np.nan,
    4: 9,
    5:9,
    6:12,
    7:np.nan,
    8:0,
    9: np.nan
}, ignore_index=True)
# ignore_index is super important!

In [10]:
df.shape

(101, 10)

In [11]:
tmp = pd.DataFrame(np.random.random(size=1000).reshape(100, 10))
df = df.append(tmp)

In [12]:
df.shape

(201, 10)

In [13]:
df.tail()

,0,1,2,3,4,5,6,7,8,9
95,0.179179,0.793480,0.797931,0.842956,0.777877,0.154924,0.913409,0.350248,0.130394,0.604053
96,0.346465,0.483731,0.063269,0.564864,0.081432,0.248121,0.749466,0.935401,0.811400,0.307845
97,0.578372,0.970457,0.840691,0.038053,0.191118,0.111989,0.528817,0.503854,0.975673,0.567798
98,0.063933,0.381135,0.910100,0.693410,0.287880,0.046912,0.089080,0.367091,0.595655,0.852858
99,0.865887,0.119143,0.246763,0.347949,0.539681,0.560442,0.893061,0.865698,0.977875,0.272279

In [17]:
len(set(list(df.index))), len(list(df.index))

(101, 201)

In [19]:
df.iloc[0]

(0    0.269956
 1    0.839219
 2    0.754133
 3    0.739121
 4    0.194080
 5    0.971586
 6    0.817567
 7    0.884108
 8    0.208105
 9    0.198982
 Name: 0, dtype: float64,
 0    0.865887
 1    0.119143
 2    0.246763
 3    0.347949
 4    0.539681
 5    0.560442
 6    0.893061
 7    0.865698
 8    0.977875
 9    0.272279
 Name: 99, dtype: float64)

In [20]:
df.iloc[-1]

0    0.865887
1    0.119143
2    0.246763
3    0.347949
4    0.539681
5    0.560442
6    0.893061
7    0.865698
8    0.977875
9    0.272279
Name: 99, dtype: float64

In [21]:
df.reset_index()

,index,0,1,2,3,4,5,6,7,8,9
0,0,0.269956,0.839219,0.754133,0.739121,0.194080,0.971586,0.817567,0.884108,0.208105,0.198982
1,1,0.368499,0.014896,0.644122,0.032979,0.885009,0.143089,0.925240,0.292600,0.859549,0.352945
2,2,0.280541,0.227736,0.696957,0.161589,0.801841,0.636848,0.780460,0.936826,0.257772,0.267561
3,3,0.923596,0.185461,0.854830,0.364878,0.078748,0.766088,0.910994,0.081560,0.185686,0.551910
4,4,0.291478,0.781717,0.384763,0.017797,0.647002,0.113438,0.749815,0.355536,0.305176,0.672370
...,...,...,...,...,...,...,...,...,...,...,...
196,95,0.179179,0.793480,0.797931,0.842956,0.777877,0.154924,0.913409,0.350248,0.130394,0.604053
197,96,0.346465,0.483731,0.063269,0.564864,0.081432,0.248121,0.749466,0.935401,0.811400,0.307845
198,97,0.578372,0.970457,0.840691,0.038053,0.191118,0.111989,0.528817,0.503854,0.975673,0.567798
199,98,0.063933,0.381135,0.910100,0.693410,0.287880,0.046912,0.089080,0.367091,0.595655,0.852858
200,99,0.865887,0.119143,0.246763,0.347949,0.539681,0.560442,0.893061,0.865698,0.977875,0.272279

In [22]:
df.head()

,0,1,2,3,4,5,6,7,8,9
0,0.269956,0.839219,0.754133,0.739121,0.194080,0.971586,0.817567,0.884108,0.208105,0.198982
1,0.368499,0.014896,0.644122,0.032979,0.885009,0.143089,0.925240,0.292600,0.859549,0.352945
2,0.280541,0.227736,0.696957,0.161589,0.801841,0.636848,0.780460,0.936826,0.257772,0.267561
3,0.923596,0.185461,0.854830,0.364878,0.078748,0.766088,0.910994,0.081560,0.185686,0.551910
4,0.291478,0.781717,0.384763,0.017797,0.647002,0.113438,0.749815,0.355536,0.305176,0.672370

In [ ]:
# nothing in pandas is in place.  Everything must be passed, like in append!

In [23]:
df = df.reset_index()

In [24]:
indices = df[df[0] < 0.5].index

df.loc[indices, 0] = 1

In [25]:
df.head()

,index,0,1,2,3,4,5,6,7,8,9
0,0,1.000000,0.839219,0.754133,0.739121,0.194080,0.971586,0.817567,0.884108,0.208105,0.198982
1,1,1.000000,0.014896,0.644122,0.032979,0.885009,0.143089,0.925240,0.292600,0.859549,0.352945
2,2,1.000000,0.227736,0.696957,0.161589,0.801841,0.636848,0.780460,0.936826,0.257772,0.267561
3,3,0.923596,0.185461,0.854830,0.364878,0.078748,0.766088,0.910994,0.081560,0.185686,0.551910
4,4,1.000000,0.781717,0.384763,0.017797,0.647002,0.113438,0.749815,0.355536,0.305176,0.672370